
/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0%;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
}

.hero {
    background-image: url(/assets/images/hero.jpg);
    height: 100vh;
    /* background-position: center; */
    background-size: cover;
    opacity: 0.9;
}

.tarseelat-heading {
    font-size: 80px !important;
    font-weight: 700;
    letter-spacing: 2px;
    padding-top: 100px !important;
    color: white;
}

.tarseelat-heading::before {
    content: "JUBL";
    color: #52b8e7;
  }

  .tarseelat-heading::after {
    content: " ALQALM";
    color: rgb(255, 2, 103);
  }

.btn-know-more {
    background-image: linear-gradient(243deg,#3D72E7 0%,#76b1f9 100%);
    font-size: 12px;
    letter-spacing: 1px;
    padding: 15px 30px;
}

.border-img {
    border-radius: 15px;
}

.services {
    background-color: #F8FBFE;
}

.services-1 {
    border-top: 6px solid #1E1584;
    transition: 0.3s;
}

.services-1:hover {
    border-top: 6px solid #1E1584;
    transform: scale(1.03);
    cursor: pointer;
}

.services-1 img {
    height: 100px;
    width: 100px;
}

.services-2 {
    border-top: 6px solid #3D72E7;
    transition: 0.3s;
}

.services-2:hover {
    transform: scale(1.03);
    cursor: pointer;
}



.services-2 img {
    height: 100px;
    width: 100px;
}

.services-3 {
    border-top: 6px solid #B030DB;
    transition: 0.3s;
}

.services-3 img {
    height: 100px;
    width: 100px;
}

.services-3:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.services-4 {
    border-top: 6px solid #B030DB;
    transition: 0.3s;
}

.services-4 img {
    height: 100px;
    width: 100px;
}

.services-4:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.services-5 {
    border-top: 6px solid #37D6BB;
    transition: 0.3s;
}

.services-5 img {
    height: 100px;
    width: 100px;
}

.services-5:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.services-6 {
    border-top: 6px solid #1E1584;
    transition: 0.3s;
}

.services-6 img {
    height: 100px;
    width: 100px;
}

.services-6:hover {
    transform: scale(1.03);
    cursor: pointer;    
}

.btn-read-more {
    background-image: linear-gradient(243deg,#3D72E7 0%,#76b1f9 100%);
    font-size: 12px;
    letter-spacing: 1px;
    padding: 15px 30px;
    font-weight: 800;
    border-radius: 3px;
    transition: 0.3s;
}

.btn-read-more:hover {
    border-radius: 50px;
}

.contact {
    background-color: #F8FBFE;
}

.icons {
    height: 40px;
    width: 40px;
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .hero {
        background-image: url(/assets/images/hero.jpg);
        height: 80vh;
        /* background-size: cover; */
        opacity: 0.9;
        background-position: center !important;
    }
    .tarseelat-heading {
        font-size: 60px !important;
      
    }

 }